.line-with-button::before,
.line-with-button::after {
    display: none;
}

.line-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 70px auto;
    position: relative;
}

.hero-section h1 {
    left: 24%;
}

@media(max-width:1024px) {
    .breadcrumbs {
        left: 8%;
    }
}

@media(max-width:992px) {
    .hero-section h1 {
        left: 30%;
    }

    .breadcrumbs {
        left: 21%;
    }
}

@media(max-width:768px) {
    .breadcrumbs {
        left: 24%;
    }
}